.navbar-item {transition: transform .2s;}
.navbar-item:hover {transform: scale(1.03); height: 97%;}
.navbar-end{height: 100%;}
.navbar-end span {transition: transform .2s;}
.navbar-end span:hover {transform: scale(1.05);}
#home-tabs ul li a {
    transition: transform .2s;
    padding: .5rem 3rem;
}
#home-tabs ul li {padding: 0 .3rem;}
#home-tabs ul li a:hover {transform: scale(1.01);}
#aboutme-tabs a {color: #363636;}
#view-github {
    background-color: #363636;
    padding: .4rem 1.3rem;
    border-radius: 15px;
    color: white;
    transition: transform .3s;
}
#view-github:hover {
    transform: scale(1.01);
    color: #ffe08a;
}
#home-tabs ul li.is-active a, #aboutme-tabs ul li.is-active a {
    color: #ffe08a;
    background-color: #363636;
}
#card .card-footer {border: none;}
.tabs-github-link {
    color: #ffe08a;
    background-color: #363636;
    padding: .2rem .4rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform .3s;
}
.tabs-github-link:hover {color: #ffe08a}
#portrait {padding-top: 0; border-radius: 200px;}

