.navbar-item, #home-calltoaction a, #home-calltoaction img, .modal img, form button {transition: transform .2s;}
.navbar-item:hover, #home-calltoaction a:hover, #home-calltoaction img:hover, .modal img:hover, form button:hover {transform: scale(1.02);}
.navbar-end{height: 98%;}
.navbar-end span {transition: transform .2s;}
.navbar-end span:hover {transform: scale(1.05);}
#home-tabs {margin-top: 5rem;}
#home-tabs ul li a {
    transition: transform .2s;
    padding: .5rem 3rem;
}
#home-tabs ul li {padding: 0 .3rem;}
#home-tabs ul li a:hover {transform: scale(1.01);}
#aboutme-tabs a {color: #363636;}
#project-status {
    font-size: .9rem;
    background-color: #363636;
    padding: .1rem .5rem;
    border-radius: 15px;
    color: white;
    transition: transform .3s;
}
#project-status:hover {
    transform: scale(1.01);
    color: #ffe08a;
}
#home-tabs ul li.is-active a, #aboutme-tabs ul li.is-active a {
    color: #ffe08a;
    background-color: #363636;
}
#card .card-footer {border: none;}
.tabs-github-link {
    color: #ffe08a;
    background-color: #363636;
    padding: .2rem .4rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform .3s;
}
.tabs-github-link:hover {color: #ffe08a}
#portrait {padding-top: 0; border-radius: 200px;}
#tab-content img {padding-top: 0;}
#home-calltoaction, #aboutme-calltoaction {margin-bottom: 13rem;}


@media screen and (max-width: 1024px) {
    .aboutme #tab-content .columns {
        display: flex;
        flex-direction: column;
    }
}
    
